# OS-specific
.DS_Store

# editors
*.swp

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
Gemfile.lock

# Vagrant
.vagrant
Vagrantfile
install.log
ssh_key

# RVM files for gemset/ruby setting
.ruby-*
.rvmrc
